{% extends 'kanbanWebApp/base.html' %}
{% load static %}

{% block main %}      
    
    <form method="POST" action="{% url 'kanbanWebApp_setor' %}" class="mt-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-1 col-lg-5">
                <div class="row">
                    <h1 class="col-sm-6 col-md-6 col-lg-12">Bem vindo {{user}}!</h1>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-6 col-lg-8 mt-2">
                        <select name="selectSetor" class="form-control">
                            <option value="1">SETOR 01</option>
                            <option value="2">SETOR 02</option>
                            <option value="3">SETOR 03</option>
                            <option value="4">SETOR 04</option>
                            <option selected>Selecione o setor...</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-6 col-lg-4 mt-2">
                        <button type="submit" class="btn btn-info">Abrir Setor</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-7">
                <img src="{% static 'img/fundo_home.jpg' %}" height=100 width=1000 style="opacity: 0.8" class="rounded mx-auto d-block img-fluid">
            </div>
        </div>
        <div class="col-sm-1 col-md-3 col-lg-6">
            
        </div>
    </form>    
{% endblock %}
