{% load static %}
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="{% url 'kanbanWebApp_home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Estacionamento 24 horas" height="60">
                </a>
                <ul class="navbar-nav mr-auto ml-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kanbanWebApp_perguntas' %}">Perguntas frequentes</a>
                    </li>
                </ul>
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-door-open fa-2x" style="color:white" title="Logout"></i>
                </a>
            </div>
            </nav>
        </div>
    </div>