{% extends 'kanbanWebApp/base.html' %}
{% load static %}

{% block main %}
    <script>
        $('#btn1').on('click', function (e) {
            console.log('TESTE');

        });

        function myFunction(btn, id) {
            console.log('TESTE =>', btn);
            console.log('TESTE =>', id);
            
        }
    </script>
    <form method="POST" action="{% url 'kanbanWebApp_painel' idSetor %}" class="mt-4">
        {% csrf_token %}
        <h1 name="id" value="idSetor">Setor 0{{idSetor}}</h1>
        <div class="row">
            <div class="col-sm-1 col-md-3 col-lg-4">
                <a href="{% url 'kanbanWebApp_home' %}">
                    <button type="button" class="btn btn-danger">Voltar</button>
                </a>
            </div>
            <div class="col-sm-1 col-md-3 col-lg-8">
                <button type="submit" class="btn btn-info float-right" value="idSetor">Abrir Painel</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6 col-lg-12">
            <table class="table mt-1">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Lote</th>
                    <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <th scope="row">{{ produto.id}}</th>
                            <td>{{ produto.nome}}</td>
                            <td>{{ produto.quantidade}}</td>
                            <td>{{ produto.lote}}</td>
                            <td>
                                <a href="{% url 'kanbanWebApp_produto_update' produto.id idSetor %}">
                                    <button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
                                </a>
                                <a href="{% url 'kanbanWebApp_produto_delete' produto.id idSetor %}">
                                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                </a>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>   
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cadastrar Produto</h1>
            <form action="{% url 'kanbanWebApp_produto_novo' idSetor %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
{% endblock %}
